shamefully-hoist=true
strict-peer-dependencies=false

registry = https://artifacts.sei.cmu.edu/artifactory/api/npm/npm-remote/
strict-ssl = false

@cmu-sei:registry = https://artifacts.sei.cmu.edu/artifactory/api/npm/sei-design-system/